###################################################################################################################################
##Project: COMP90024--2020S1--Assignment2--Alcohol Tweets and Australian Cities Analytics on the Cloud
##Purpose:  to find out the correlations between alcohol-related tweets and demographic 
##          and behavioural characteristics in Australia cities.
##Team: group05-- Ruiqi Zhu (939162), Zhengyang Li (952972), Jianxin Xu (1014840), Qiuxia YIN (1017231), Fang Qu (1070888)
###################################################################################################################################

# Common vars
availability_zone: melbourne-qh2-uom

# Volume
volumes:
  - vol_name: dbServer-vol-1-1
    vol_size: 15
  - vol_name: dbServer-vol-1-2
    vol_size: 50
  - vol_name: harvester1-vol-1
    vol_size: 15
  - vol_name: harvester1-vol-2
    vol_size: 50
  - vol_name: harvester2-vol-1
    vol_size: 15
  - vol_name: harvester2-vol-2
    vol_size: 50
  - vol_name: webServer-vol-1
    vol_size: 10
  
# Security group
security_groups:
- name: COMP90024-grp05
  description: "security group for grp05"

# Instance
instances:
  - name: dbServer
    volumes: ['dbServer-vol-1-1', 'dbServer-vol-1-2']
    
  - name: harverster1
    volumes: ['harvester1-vol-1','harvester1-vol-2']
    
  - name: harverster2
    volumes: ['harvester2-vol-1','harvester2-vol-2']
    
  - name: webServer
    volumes: ['webServer-vol-1']

instance_image: 45225edb-66d8-4fd0-bf41-132a31a18166
instance_key_name: db3
instance_flavor: uom.mse.2c9g

local_generic_conf_dir: ../config/generic.yaml
local_couchdb_vars_dir: ../deploy-couchdb-clusters/host_vars/vars.yml
local_couchdb_hosts_dir: ../deploy-couchdb-clusters/inventory/hosts.ini


# test
varables:
  - name: dbServer
    ip: 127.0.12.0
    
  - name: harverster1
    ip: 127.0.12.1
    
  - name: harverster2
    ip: 127.0.12.2
    
  - name: webServer
    ip: 127.0.12.3
