/*
Project:COMP90024--2020S1--Assignment2--Alcohol Tweets and Australian Cities_Analytics on the Cloud
Team:group05--Ruiqi Zhu (939162), Zhengyang Li (952972), Jianxin Xu (1014840), Qiuxia Yin (1017231), Fang Qu (1070888)
*/


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Greater Melbourne analysis</title>

    <!-- Favicon  -->
    <link rel="icon" href="../static/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- Leaflet's CSS and JS package -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" 
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" 
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" 
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" 
    crossorigin=""></script>

    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/echarts.min.js"></script>

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="sonar-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Grids -->
    <div class="grids d-flex justify-content-between">
        <div class="grid1"></div>
        <div class="grid2"></div>
        <div class="grid3"></div>
        <div class="grid4"></div>
        <div class="grid5"></div>
        <div class="grid6"></div>
        <div class="grid7"></div>
        <div class="grid8"></div>
        <div class="grid9"></div>
    </div> 

    <!-- ***** Main Menu Area Start ***** -->
    <div class="mainMenu d-flex align-items-center justify-content-between">
        <!-- Close Icon -->
        <div class="closeIcon">
            <i class="ti-close" aria-hidden="true"></i>
        </div>
        <!-- Logo Area -->
        <div class="logo-area">
            <a href="index.html"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
        </div>
        <!-- Nav -->
        <div class="sonarNav">
            <nav>
                <ul>
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="big-cities.html">Big Cities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="melbourne.html">Melbourne</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Copwrite Text -->
        <div class="copywrite-text">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This web is made by Group 5</p>
        </div>
    </div>
    <!-- ***** Main Menu Area End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="menu-area d-flex justify-content-between">
                        <!-- Logo Area  -->
                        <div class="logo-area">
                            <a href="#">Greater Melbourne</a>
                            <!-- <p>Great Melbourne</p> -->
                        </div>

                        <div class="menu-content-area d-flex align-items-center">
                            <!-- Header Social Area -->
                            <div class="header-social-area d-flex align-items-center">
                                <a href="#" data-placement="bottom" data-toggle="tooltip">Navigate bar ➡️</a>
                            </div>
                            <!-- Menu Icon -->
                            <span class="navbar-toggler-icon" id="menuIcon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Hero Area Start ***** -->
    <div class="hero-area d-flex align-items-center">

        <!-- Hero Thumbnail -->
        <div class="hero-thumbnail equalize bg-img" style="background-image: url(../static/img/bg-img/m3.jpg);"></div>
        
        <!-- Hero Content -->
        <div class="hero-content equalize">
            <div class="container-fluid h-100">
                <!-- <div class="row h-100 align-items-center justify-content-center"> -->
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-md-8">
                        <div class="line"></div>
                        <h2><b>Alcohol vs Tweets</b></h2>
                        <p>We focus on Tweets from each Melbourne suburb and corresponding education, income, population density and unemployment rate factors.</p>
                        <a href="#start" class="btn sonar-btn white-btn">Let's start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Hero Area End ***** -->

    <!-- ***** Call to Action Area Start ***** -->
    <div id="start" class="container">          
        <div class="col-12">
            <br/>
            <h3 style="font-family:Georgia, 'Times New Roman', Times, serif;text-align: center;">
                Interact with the map below to see area informtion.</h3>
            <br/>
        </div>
        
        <div class="sonar-call-to-action-area bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="call-to-action-content">
                            <div id="mapid" style="width: 1080px; height: 700px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Call to Action Area End ***** -->
    
    <!-- ***** Services Area Start ***** -->
    <div class="section-padding-100-50-0-50">
        <div class="container-fluid">
            <div class="col-12">
                <h3 style="font-family:Georgia, 'Times New Roman', Times, serif;text-align: center;">
                    Some more amazing DATA.</h3>
                <br/>   
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-sm-12">
                    <div id="sentiment1" class="image" style="width: 630px;height: 400px"></div>
                </div>
                <!-- Single Services Area -->
                <div class="col-12 col-md-6 col-sm-12">      
                    <div id="sentiment2" class="image" style="width: 600px;height: 400px"></div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ***** Services Area End ***** -->

    <!-- big chart area start
    <div class="container section-padding-70-50">
        <div class="col-12 col-md-6 col-sm-12">
            <div id="chart3" class="image" style="width: 1080px;height: 600px"></div>
        </div>
    </div> -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area bg-gray">
        <!-- back end content -->
        <div class="backEnd-content">
            <img class="dots" src="../static/img/core-img/dots.png" alt="">
            <h2>Dream</h2>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This web is made by group5 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="../static/js1/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js1/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/js1/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="../static/js1/plugins.js"></script>
    <!-- Active js -->
    <script src="../static/js1/active.js"></script>

    <!--charts-->
    <script src = "../static/js/chart1.js"></script>
    <script src = "../static/js/chart2.js"></script>
    <!-- <script src = "../static/js/chart3.js"></script> -->

    <!--map-->
    <script src= "../static/js1/melbourne-map.js"></script>

</body>

</html>
