###################################################################################################################################
##Project: COMP90024--2020S1--Assignment2--Alcohol Tweets and Australian Cities Analytics on the Cloud
##Purpose:  to find out the correlations between alcohol-related tweets and demographic 
##          and behavioural characteristics in Australia cities.
##Team: group05-- Ruiqi Zhu (939162), Zhengyang Li (952972), Jianxin Xu (1014840), Qiuxia YIN (1017231), Fang Qu (1070888)
###################################################################################################################################

---
volumes:
  - device: /dev/vdb
    mountpoint: /var/lib/docker
  - device: /dev/vdc
    mountpoint: /var/lib/couchdb

proxy_environment:
  - key: http_proxy 
    value : http://wwwproxy.unimelb.edu.au:8000/  
  - key: https_proxy 
    value : http://wwwproxy.unimelb.edu.au:8000/
  - key: no_proxy 
    value : "localhost,127.0.0.1,localaddress,172.16.0.0/12,.melbourne.rc.nectar.org.au,.storage.unimelb.edu.au,.cloud.unimelb.edu.au"
  - key: HTTP_PROXY 
    value : http://wwwproxy.unimelb.edu.au:8000/
  - key: HTTPS_PROXY
    value : http://wwwproxy.unimelb.edu.au:8000/

couchdb_dir: couchdb
#couchdb_version: developer-preview-2.0
couchdb_install_dir: /home/ubuntu/couchdb
ansible_distribution: ubuntu
ansible_distribution_release: bionic

local_submodules_dir: ../../../submodules
local_config_dir: ../../../config
docker_proxy_dir: /etc/systemd/system/docker.service.d
docker_http_proxy_file: http-proxy.conf
docker_https_proxy_file: https-proxy.conf

couchdb_sys_dir: /opt/couchdb/releases/3.1.0
couchdb_sys_file: sys.config

couchdb_file_dir: /data
couchdb_view_index_dir: /data

dbServer: 172.26.134.56
harverster1: 172.26.131.81
harverster2: 172.26.132.135
webServer: 172.26.131.29
